#top-bar {
  order: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 252px;
  width: calc(100% - 252px);
  height: 60px;
  background: #232d3f;
}
#display-text {
  width: 60%;
  display: flex;
  justify-content: center;
  color: #dad6d6;
  font-size: 1.2em;
  direction: rtl;
}
