.top-bar {
  order: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 252px;
  width: calc(100% - 252px);
  height: 60px;
}
.display-text {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  direction: ltr;
}
