.window-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(70% - 40px);
  margin: 10px 0 15px 20px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.header-title {
  font-size: 1.7em;
}
.header-icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
