.window-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin: 10px 20px 15px 0;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.header-title {
  font-size: 1.7em;
}
.header-icon {
  width: 45px;
  height: 45px;
  margin-left: 20px;
}
