@font-face {
  font-family: dastnevis;
  src: url(Fonts/danstevis.otf);
}
#date-picker * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.active {
  display: flex !important;
}
button {
  cursor: pointer;
}
#task-date-input {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-family: dastnevis;
  font-size: 25px;
  direction: ltr;
}
#date-picker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: fit-content;
  background-color: rgba(54, 54, 59, 1);
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}
#pick-year-month-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: rgba(54, 54, 59, 0.4);
  padding: 5px;
}
#pick-year-month-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  font-size: 20px;
  padding: 5px;
  border: 0;
  box-shadow: 5px 2px 5px #000;
  background-color: #fff;
  transition: 0.3s;
}
#pick-year-month-container button:hover {
  transform: scale(1.2);
}
#pick-year-month-container button img {
  width: 20px;
  height: 20px;
}
#year,
#month {
  font-size: 30px;
  font-family: dastnevis;
  font-weight: 400;
  color: #ffff;
  margin: 0 5px;
}
#pick-days {
  padding: 10px;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  width: 100%;
}
.pick-day-button {
  border: 0;
  font-size: 25px;
  font-family: dastnevis;
  color: #ffff;
  background: none;
  border-radius: 20px;
  transition: 0.1s;
}
.pick-day-button:hover {
  transform: scale(1.1);
  background-color: #008ffd;
}
#date-picker-header {
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
#pick-today-button,
#pick-tomorrow-button,
#pick-in-2-days-button {
  width: 80px;
  height: fit-content;
  border: 0;
  border-radius: 10px;
  margin-left: 10px;
  font-family: dastnevis;
  font-size: 1.5em;
  transition: 0.3s;
}
#pick-today-button:hover,
#pick-tomorrow-button:hover,
#pick-in-2-days-button:hover {
  transform: scale(1.1);
  background-color: #008ffd;
}

#time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  padding: 10px 0;
}
#time-picker-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  font-size: 2em;
  color: crimson;
}
#time-picker-separator img {
  width: 25px;
  height: 25px;
}
.time-picker-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 100%;
}
.time-picker-input {
  width: 80%;
  height: 100%;
  border-radius: 12px;
  border: 0;
  margin-right: 4px !important;
  font-size: 2em;
  font-family: dastnevis;
  text-align: center;
}
.tweak-time-buttons {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 100%;
}
.tweak-time-buttons button {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 0;
  border-radius: 12px;
  box-shadow: 5px 10px 10px #000;
  margin: 3px 0 !important;
}
.tweak-time-buttons button img {
  width: 80%;
  height: 80%;
}
