.window {
  position: absolute;
  top: 62px;
  right: 252px;
  width: calc(100% - 252px);
  height: calc(100% - 62px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
