#sort-all-trash {
  order: 1;
}
.trashed-task-badge {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  padding: 0 8px;
  height: 100%;
  position: absolute;
  right: 0;
  font-size: 1.1em;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
