/*Dark*/
:root {
  /*bgc = background color*/
  --dark-body-bgc: #3a4166;
  --dark-main: #232d3f;
  --ligh-main: #fff;
  --dark-task-container-bgc: #3a4166;
  --black: #1b1a1d;
  --white: #dad6d6;
  --green: #40c057;
  --grey: #2e3843;
  --yellow: #ffc069;
  --bronze: #f3ead3;
  --red: #fe4545;
  --actual-white: #fff;
}
.Dark input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--green);
}
.Dark input[type="range"]::-moz-range-track {
  background-color: var(--green);
}
.Dark input[type="range"]::-webkit-slider-thumb {
  background-color: var(--white);
}
.Dark input[type="range"]::-moz-range-thumb {
  background-color: var(--white);
}
/* Read note modal */
.Dark .info-container-row {
  border-bottom: 1px solid var(--white);
  color: var(--white);
}
.Dark #select-category-select-box {
  background-color: var(--white);
  color: var(--black);
}
.Dark .pick-category-icon-button {
  background-color: var(--grey);
}

.Dark #date-picker {
  background-color: var(--grey);
}
.Dark #pick-year-month-container button {
  background-color: var(--black);
}
.Dark #year,
.Dark #month {
  color: var(--white);
}
.Dark .pick-day-button {
  color: var(--white);
}
.Dark .selected-day {
  background-color: var(--green);
}
.Dark #pick-today-button,
.Dark #pick-tomorrow-button,
.Dark #pick-in-2-days-button {
  background-color: var(--black);
  color: var(--white);
}
.Dark .time-picker-input {
  background-color: var(--white);
}
.Dark .tweak-time-buttons button {
  background-color: var(--black);
}
.Dark .checkmark {
  --clr: #008ffd;
  position: relative;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}
