/*Light*/
:root {
  /*bgc = background color*/
  --dark-body-bgc: #3a4166;
  --dark-main: #232d3f;
  --light-main: #fff;
  --dark-task-container-bgc: #3a4166;
  --black: #1b1a1d;
  --white: #dad6d6;
  --green: #40c057;
  --grey: #2e3843;
  --yellow: #ffc069;
  --bronze: #f3ead3;
  --red: #fe4545;
  --actual-white: #fff;
}
.Light #select-all-section {
  color: var(--black);
}
.Light .sort-buttons:hover {
  transform: scale(1.1);
  background: var(--yellow) !important;
}

.Light .hover-title {
  background-color: var(--light-main) 9e3;
}
.Light .failed-task-badge,
.Light .completed-task-badge,
.Light .category-badge {
  color: var(--black);
}
.Light .task-time {
  color: var(--black);
}
.Light #empty-box-text {
  color: var(--black);
}
.Light #add-notes-btn {
  background-color: var(--yellow) !important;
}
.Light #add-notes-btn-text {
  color: var(--black) !important;
}
.Light .user-category-name {
  color: var(--black);
}
.Light #settings-container {
  background: var(--white);
}
.Light #settings-header {
  border-bottom: 3px solid var(--light-main);
}
.Light #settings-title {
  color: var(--black);
}
.Light .setting-item {
  background-color: var(--light-main);
}
.Light .setting-select-box {
  color: var(--black);
  background-color: var(--white);
}
.Light .setting-select-box option {
  color: var(--black);
}
.Light .setting-title {
  color: var(--black);
}
.Light input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--yellow);
}
.Light input[type="range"]::-moz-range-track {
  background-color: var(--yellow);
}
.Light input[type="range"]::-webkit-slider-thumb {
  background-color: var(--white);
}
.Light input[type="range"]::-moz-range-thumb {
  background-color: var(--white);
}
.Light #generate-backup-button {
  background: var(--light-main);
  color: var(--black);
}
.Light #cloud-storge-button {
  background: var(--light-main);
  color: var(--black);
}
.Light .modal {
  background-color: var(--light-main);
}
.Light #modal-text {
  color: var(--black);
}
.Light #note-text-area {
  background-color: var(--white);
  color: var(--black);
}
.Light .note-container {
  background-color: var(--white);
}
.Light .note-title {
  color: var(--black);
  background-color: var(--yellow);
}
.Light .note-text {
  color: var(--black);
}
.Light .view-note-btn {
  background-color: var(--green);
  color: var(--actual-white);
}
/* Read note modal */
.Light .info-container-row {
  border-bottom: 1px solid var(--black);
  color: var(--black);
}
.Light .note-modal-text {
  appearance: none;
  color: var(--black);
  background-color: var(--white);
  scrollbar-color: var(--yellow) var(--actual-white);
}
.Light .note-modal-text::-webkit-scrollbar-track {
  background-color: var(--actual-white);
  border-radius: 20px;
}
.Light .note-modal-text::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 20px;
}
.Light #move-to-trash-text {
  color: var(--black);
}
.Light #confirm-btn,
.Light #cancel-btn {
  color: var(--actual-white);
}
.Light .green-btn {
  background-color: var(--green);
  color: var(--actual-white);
}
.Light .red-btn {
  background-color: var(--red);
  color: var(--actual-white);
}
.Light .modal-button {
  background-color: var(--white);
}
.Light .modal-button-text {
  color: var(--black);
}
.Light .modal-title {
  color: var(--black);
}
.Light .modal-description {
  color: var(--black);
}
.Light .modal-text-area {
  background-color: var(--white);
  color: var(--black);
}
.Light #note-text-area {
  background-color: var(--white);
  color: var(--black);
}
.Light #select-category-select-box {
  background-color: var(--white);
  color: var(--black);
}
.Light .modal-input {
  background-color: var(--white);
}
.Light .modal-title {
  background: transparent;
  border-bottom: 3px solid var(--grey);
  color: var(--black);
}
.Light .sticky-badge {
  background: var(--yellow);
  border: 1px solid var(--black);
  color: var(--black);
}
.Light .character-limit {
  border: 1px solid var(--black);
  color: var(--black);
  background: var(--yellow);
}
.Light .pick-category-icon-button {
  background-color: var(--grey);
}
.Light #preloader {
  background-color: var(--light-main);
}
.Light #preloader-text {
  color: var(--black);
}
.Light #date-picker {
  background-color: var(--bronze);
}
.Light #pick-year-month-container {
  background-color: var(--bronze);
}
.Light #pick-year-month-container button {
  background-color: var(--white);
}
.Light #year,
.Light #month {
  color: var(--black);
}
.Light .pick-day-button {
  color: var(--black);
}
.Light .pick-day-button:hover {
  background-color: var(--yellow);
}
.Light .selected-day {
  background-color: var(--yellow);
}
.Light #pick-today-button,
.Light #pick-tomorrow-button,
.Light #pick-in-2-days-button {
  background-color: var(--white);
  color: var(--black);
}
.Light #pick-today-button:hover,
.Light #pick-tomorrow-button:hover,
.Light #pick-in-2-days-button:hover {
  background-color: var(--yellow);
}
.Light .time-picker-input {
  background-color: var(--white);
}
.Light .tweak-time-buttons button {
  background-color: var(--white);
}
.Light .trashed-task-badge {
  color: var(--light-main);
  background-color: var(--red);
}
.Light .checkmark {
  --clr: #008ffd;
  position: relative;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: var(--bronze);
  border-radius: 50%;
  transition: 300ms;
}
