/*Light*/
:root {
  /*bgc = background color*/
  --dark-body-bgc: #3a4166;
  --dark-main: #232d3f;
  --light-main: #fff;
  --dark-task-container-bgc: #3a4166;
  --black: #1b1a1d;
  --white: #dad6d6;
  --green: #40c057;
  --grey: #2e3843;
  --yellow: #ffc069;
  --bronze: #f3ead3;
  --red: #fe4545;
  --actual-white: #fff;
}

.Light .hovered {
  background-color: var(--yellow) !important;
}
.Light #select-all-section {
  color: var(--black);
}
.Light #tasks-section {
  background-color: var(--light-main);
}
.Light .sort-buttons {
  background: var(--white);
  color: var(--black);
}
.Light .sort-buttons:hover {
  transform: scale(1.1);
  background: var(--yellow) !important;
}

.Light #search-bar {
  background: var(--white);
  color: var(--black);
}
.Light .hover-title {
  background-color: var(--light-main) 9e3;
}
.Light .task-container {
  background: var(--white);
}
.Light .task-title {
  color: var(--black);
}
.Light .date-container {
  background: var(--yellow);
}
.Light .task-date {
  color: var(--black);
}
.Light .failed-task-badge,
.Light .completed-task-badge,
.Light .category-badge {
  color: var(--black);
}
.Light .task-time {
  color: var(--black);
}
.Light #empty-box-text {
  color: var(--black);
}
.Light #side-bar {
  background: var(--light-main);
}
.Light .side-bar-item {
  font-family: SpaceGrotesk;
  background: var(--white);
  color: var(--black);
}
.Light .side-bar-item:hover {
  background-color: var(--yellow) !important;
  transform: scale(1.1) !important;
}

.Light #full-date {
  color: var(--black);
}
.Light #time {
  color: var(--black);
}
.Light .user-category-name {
  color: var(--black);
}
.Light #settings-container {
  background: var(--white);
}
.Light #settings-header {
  border-bottom: 3px solid var(--light-main);
}
.Light #settings-title {
  color: var(--black);
}
.Light .setting-item {
  background-color: var(--light-main);
}
.Light .setting-select-box {
  color: var(--black);
  background-color: var(--white);
}
.Light .setting-select-box option {
  color: var(--black);
}
.Light .setting-title {
  color: var(--black);
}
.Light input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--yellow);
}
.Light input[type="range"]::-moz-range-track {
  background-color: var(--yellow);
}
.Light input[type="range"]::-webkit-slider-thumb {
  background-color: var(--white);
}
.Light input[type="range"]::-moz-range-thumb {
  background-color: var(--white);
}
.Light #generate-backup-button {
  background: var(--light-main);
  color: var(--black);
}
.Light #cloud-storge-button {
  background: var(--light-main);
  color: var(--black);
}
.Light #modal-container {
  background-color: var(--light-main);
  box-shadow: 0px 0px 20px 10px var(--black);
}
.Light #modal-text {
  color: var(--black);
}
.Light #move-to-trash-text {
  color: var(--black);
}
.Light #confirm-btn,
.Light #cancel-btn {
  color: var(--actual-white);
}
.Light .green-btn {
  background-color: var(--green);
  color: var(--actual-white);
}
.Light .red-btn {
  background-color: var(--red);
  color: var(--actual-white);
}
.Light .modal-button {
  background-color: var(--white);
}
.Light .modal-button-text {
  color: var(--black);
}
.Light .modal-title {
  color: var(--black);
}
.Light .modal-description {
  color: var(--black);
}
.Light .modal-text-area {
  background-color: var(--white);
  color: var(--black);
}
.Light #select-category-select-box {
  background-color: var(--white);
  color: var(--black);
}
.Light .task-input {
  background-color: var(--white);
}
.Light .badge {
  background: transparent;
  border-bottom: 3px solid var(--grey);
  color: var(--black);
}
.Light .badge-modified {
  background: var(--yellow);
  border: 1px solid var(--black);
  color: var(--black);
}
.Light .character-limit {
  border: 1px solid var(--black);
  color: var(--black);
  background: var(--yellow);
}
.Light .pick-category-icon-button {
  background-color: var(--grey);
}
.Light #preloader {
  background-color: var(--light-main);
}
.Light #preloader-text {
  color: var(--black);
}
body.Light {
  background: var(--white);
}
.Light #date-picker {
  background-color: var(--bronze);
}
.Light #pick-year-month-container {
  background-color: var(--bronze);
}
.Light #pick-year-month-container button {
  background-color: var(--white);
}
.Light #year,
.Light #month {
  color: var(--black);
}
.Light .pick-day-button {
  color: var(--black);
}
.Light .pick-day-button:hover {
  background-color: var(--yellow);
}
.Light #pick-today-button,
.Light #pick-tomorrow-button,
.Light #pick-in-2-days-button {
  background-color: var(--white);
  color: var(--black);
}
.Light #pick-today-button:hover,
.Light #pick-tomorrow-button:hover,
.Light #pick-in-2-days-button:hover {
  background-color: var(--yellow);
}
.Light .time-picker-input {
  background-color: var(--white);
}
.Light .tweak-time-buttons button {
  background-color: var(--white);
}
.Light #context-menu {
  background-color: var(--bronze);
}
.Light .context-menu-item {
  background-color: var(--bronze);
}
.Light .context-menu-item:not(.disabled):hover {
  background-color: var(--yellow);
}

.Light .context-menu-text {
  color: var(--black);
}
.Light #top-bar {
  background: var(--light-main);
}
.Light #display-text {
  color: var(--black);
}
.Light #trash-bin-section {
  background-color: var(--light-main);
}
.Light #trash-bin-header {
  background-color: var(--white);
}
.Light #trash-bin-title {
  color: var(--black);
}
.Light .trashed-task-badge {
  color: var(--light-main);
  background-color: var(--red);
}
.Light #user-category-page {
  background-color: var(--light-main);
}
.Light #user-category-page-header {
  background-color: var(--white);
}
.Light #user-category-page-title {
  color: var(--black);
}
.Light .checkmark {
  --clr: #008ffd;
  position: relative;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: var(--bronze);
  border-radius: 50%;
  transition: 300ms;
}
/*Select bar*/
.Light #select-bar {
  background-color: var(--bronze);
}
.Light #selected-items {
  color: var(--black);
}
.Light #exit-select-mode-btn {
  background-color: var(--red);
  color: var(--actual-white);
}
.Light .select-bar-task-btn {
  background-color: var(--white);
  color: var(--black);
}
.Light .select-bar-task-btn:hover {
  background-color: var(--yellow);
}
