@import url("../DatePicker/date_picker_rtl.css");
@import url("../TopBar/top_bar_rtl.css");
@import url("../SideBar/side_bar_rtl.css");
@import url("../TaskSection/task_section_rtl.css");
@import url("../Modal/modal_rtl.css");
@import url("../Settings/settings_rtl.css");
@import url("../TrashSection/trash_rtl.css");
@import url("../ContextMenu/context_menu_rtl.css");
@import url("../Animation/animation_rtl.css");
@import url("../SelectBar/select_bar_rtl.css");
@import url("../Window/window_rtl.css");
@import url("../WindowHeaders/window_headers_rtl.css");
@import url("../Notes/notes_rtl.css");
@import url("../MessageBox/msg_box_rtl.css");
@import url("../DevTools/DevTools.css");

@font-face {
  font-family: vazir;
  src: url(../../Fonts/Vazir.woff);
}
@font-face {
  font-family: monte;
  src: url(../../Fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: dastnevis;
  src: url(../../Fonts/danstevis.otf);
}
#background {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.disable-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: #000;
  opacity: 0;
}
.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  background-color: #3a4166;
  transition: 1s;
}
.preloader-gif {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.preloader-text {
  color: #dad6d6;
  font-family: vazir;
  font-size: 1.8em;
}
button {
  border: none;
  cursor: pointer;
}
input {
  border: none;
}
input[type="checkbox"] {
  cursor: pointer;
}
.visible {
  display: flex !important;
}
.hidden {
  display: none !important;
}
.disabled {
  opacity: 0.55;
}
* {
  margin: 0;
  padding: 0;
  font-family: vazir;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: vazir;
  direction: rtl;
  overflow: hidden;
}
/* Select All Section */
.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkbox-container {
  order: 1;
  display: block;
  position: relative;
  font-size: 1.4rem;
  user-select: none;
  margin: 0 10px;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
  --clr: #008ffd;
  position: relative;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse 500ms ease-in-out;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0b6e4f90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0b6e4f60;
  }

  100% {
    box-shadow: 0 0 0 13px #0b6e4f30;
    rotate: 0;
  }
}
