.settings-container {
  order: 3;
  width: 400px;
  height: 100%;
  position: absolute;
  left: -100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  border-right-width: 2px;
  border-right-style: solid;
}
.setting-in {
  left: 0 !important;
}
.setting-out {
  left: -100% !important;
}
.settings-header {
  position: relative;
  width: 85%;
  height: 100px;
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #dad6d6;
}
.settings-title {
  font-size: 2.1em;
  color: #1b1a1d;
}
.hide-settings-button {
  background: none;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.hide-settings-button-icon {
  width: 100%;
  height: 100%;
}
.setting-items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.setting-items-container::-webkit-scrollbar {
  display: none;
}
.setting-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  min-height: 60px;
  background-color: #1b1a1d;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
input[type="range"] {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 10px;
}
input[type="range"]::-moz-range-track {
  height: 7px;
  border-radius: 20px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 0;
  outline: 0;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 0;
  outline: 0;
}
.setting-select-box {
  position: absolute;
  left: 10px;
  width: 100px;
  height: 30px;
  font-size: 1.1em;
  color: #1b1a1d;
  background-color: #dad6d6;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.setting-select-box option {
  font-size: 1.1em;
  color: #1b1a1d;
  text-align: center;
}
.setting-title {
  width: calc(98% - 100px);
  font-size: 1.1em;
  color: #dad6d6;
  margin: 0 0 0 15px;
}
/*Generate Backup and Cloudstorge section*/
#generate-backup-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  min-height: 50px;
  background: #1b1a1d;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 1.1em;
  color: #dad6d6;
  transition: all 0.5s;
}
#cloud-storge-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  min-height: 50px;
  background: #1b1a1d;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 1.1em;
  color: #dad6d6;
  transition: all 0.5s;
}
