#user-category-page {
  position: absolute;
  top: 60px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
}
#user-category-page-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: calc(100% - 40px);
  max-width: 850px;
  margin-left: 20px;
  padding: 0 10px 10px 10px;
  border-bottom: 2px solid #dad6d6;
}
#user-category-page-title {
  color: #dad6d6;
  font-size: 1.5em;
}
#user-category-page-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
