#user-category-page {
  position: absolute;
  top: 62px;
  left: 252px;
  width: calc(100% - 252px);
  height: calc(100% - 62px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#user-category-page-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 40px);
  max-width: 850px;
  margin: 10px 0 15px 20px;
  padding: 10px;
  border-radius: 10px;
}
#user-category-page-title {
  font-size: 1.7em;
}
#user-category-page-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
