#modal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  top: 100px;
  z-index: 100;
  width: 350px;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
}
#modal-container:active::before {
  content: "" !important;
}
#modal-container:active::after {
  content: "" !important;
}

#modal-sub-page {
  order: 1;
  width: calc(100% - 30px);
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#return-button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 1.2em;
}
.modal-title {
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.5em;
  text-align: center;
}
.modal-text-area {
  width: calc(100% - 16px);
  height: 100px;
  resize: none;
  margin-bottom: 15px;
  border: 0;
  scrollbar-width: thin;
  padding: 8px;
}
.modal-description {
  margin-bottom: 15px;
  font-family: SpaceGrotesk;
  text-align: justify;
  font-size: 1em;
}
#copy-to-clipboard-button,
#restore-button {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 5px 0;
}
#modal-buttons-container {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.modal-button {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 0;
  margin: 10px 0;
  border-radius: 5px;
}
.modal-button-text {
  font-size: 1.3em;
  font-family: SpaceGrotesk;
}
#close-btn {
  order: 1;
  display: flex;
  justify-content: flex-end;
  height: 35px;
  border-radius: 50%;
  background: none;
}
#close-btn img {
  width: 35px;
  height: 35px;
}
#modal-text {
  order: 2;
  font-size: 1.1em;
  padding: 10px;
  text-align: center;
}
#move-to-trash-container {
  order: 5;
  width: calc(100% - 20px);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}
#move-to-trash-checkbox {
  order: 1;
}
#move-to-trash-text {
  order: 2;
  font-size: 1.1em;
}
#modal-button-container {
  order: 7;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 15px;
}
#confirm-btn,
#cancel-btn {
  width: 150px;
  height: 40px;
  font-size: 1.1em;
  border-radius: 5px;
  transition: font-size 0.5s;
  margin: 8px;
}
#cancel-btn {
  order: 2;
}
#confirm-btn {
  order: 1;
}
#task-title-section,
#task-date-section,
#edit-date-section,
#edit-title-section,
#category-title-section,
#select-category-section,
#note-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  width: 95%;
}
#select-category-section {
  position: relative;
  order: 6;
  padding-top: 3px 0 0 1px;
}
.select-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #dad6d6;
  cursor: pointer;
  height: 50px;
  width: 100%;
  border: 0;
  border-radius: 5px;
}
.select-box-text {
  font-family: SpaceGrotesk;
  font-size: 1.1em;
  text-align: center;
}
.options-container {
  width: 100%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  background-color: #dad6d6;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 1px;
}
.show-select-box {
  display: flex;
}
.option {
  width: calc(100% - 16px);
  padding: 8px;
  margin: 2px 0;
  cursor: pointer !important;
  font-size: 1em;
  font-family: SpaceGrotesk;
  text-align: left;
  /* border: 1px solid #1b1a1d; */
}
.option:hover {
  background-color: #cac7c7;
}
#select-box-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -1px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3a4166;
}
#select-box-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}
.rotate-icon {
  transform: rotate(180deg);
}
.task-input {
  height: 50px;
  width: 100%;
  font-size: 1.2em;
  font-family: SpaceGrotesk;
  text-align: center;
  border: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  margin-bottom: 10px;
}
.task-input:focus {
  outline: 0;
  border: 0;
}
.badge {
  position: absolute;
  text-align: center;
  width: 95%;
  left: -14px;
  top: -10px;
  font-size: 1.1em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 8px 3px;
  border-radius: 2px;
  letter-spacing: 1px;
  z-index: 50;
}
.badge-modified {
  position: absolute;
  left: -14px;
  top: -17px;
  font-size: 1em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  letter-spacing: 1px;
  border-bottom: none;
  z-index: 50;
}
.character-limit {
  position: absolute;
  right: 0;
  bottom: -5px;
  font-size: 0.9em;
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  letter-spacing: 1px;
  border-top: none;
  z-index: 50;
}
#modal-inputs-container {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
#edit-date-input {
  cursor: pointer;
}
#note-text-area {
  width: calc(100% - 20px);
  height: 200px;
  padding: 10px;
  font-family: SpaceGrotesk;
  font-size: 1.2em;
  border-radius: 5px;
  border-top-left-radius: 0 !important;
  resize: none;
  border: 0;
  outline: 0;
}
#note-text-area:focus {
  border: 0;
  outline: 0;
}
#pick-color-section {
  order: 3;
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.slide-left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -5px;
  width: 35px;
  height: 35px;
  background: none;
}
.slide-right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  width: 35px;
  height: 35px;
  background: none;
}
.slide-left-button img,
.slide-right-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#colors-container {
  width: calc(100% - 70px);
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 35px 0 24px 0;
}
.color-pallet {
  width: 35px;
  height: 35px;
  margin: 0 8px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  box-sizing: border-box;
}
#pick-icon-section {
  order: 4;
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin: 20px 0 10px 0;
}
#icons-container {
  width: calc(100% - 70px);
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 35px 0 24px 0;
}
.pick-category-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px !important;
  height: 50px !important;
  margin: 0 8px;
  border: 0;
  outline: 0;
  border-radius: 50%;
}
.pick-category-icon {
  width: 60%;
  height: 60%;
}
.icons-container::-webkit-scrollbar {
  display: none;
}
/* Add note modal */
.add-note-modal {
  width: 30% !important;
}
/* Read note modal */
.read-note-modal {
  width: 30% !important;
}
.note-modal-info-container {
  order: 2;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
}
.note-modal-info-container > * {
  width: 100%;
  margin: 5px 0;
  padding: 10px 0;
  font-size: 1.2rem;
}
.note-modal-text {
  order: 3;
  width: calc(100% - 20px);
  max-height: 250px;
  scrollbar-width: thin;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  line-break: anywhere;
  overflow-y: scroll;
}
.edit-note-btn,
.delete-note-btn,
.apply-note-edit-btn,
.cancel-note-edit-btn {
  order: 4;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 1.2em;
}
.apply-note-edit-btn,
.cancel-note-edit-btn {
  display: none;
}
